* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

/*                              MENU                                */
.menu_container {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130rem;
  padding: 0rem 6rem 0rem 4rem;

  margin: 0 auto;
}

/* logo */
.logo_container {
  width: 17rem;
  display: flex;
  align-items: flex-end;
}

.logo_container:hover {
  cursor: pointer;
}

.logo_container .logo_img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
}

.logo_container .logo_img img {
  width: 100%;
  height: 100%;
}

.logo_container .brand_name {
  font-weight: 900;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}

/*     item_container     */
.item_container {
  width: 90rem;
  display: flex;
  justify-content: center;
}

.item_container .item {
  display: flex;
  padding: 1.8rem 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  position: relative;
}

.item_container .item:hover {
  background-color: rgb(235, 235, 85);
  color: rgb(212, 78, 78);
  cursor: pointer;
}

.item_container .item a:hover {
  color: rgb(212, 78, 78);
}

.drop_down {
  width: 100%;
  height: 20rem;
  background-color: white;
  position: absolute;
  top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.drop_down div {
  text-align: start;
  padding: 1.2rem;
  color: #2b4e28;
}

.drop_down div:hover {
  background-color: rgb(235, 235, 85);
  color: rgb(212, 78, 78);
  cursor: pointer;
}

.item .about_us .a:hover ~ .drop_down {
  background-color: red;
}

.item_container .item i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/* icon_menu */
.menu_icon_container {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}

.menu_icon_container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.1rem;
  border: rgb(108, 150, 46) solid 0.1rem;
  background-color: rgb(202, 240, 146);
  color: rgb(108, 150, 46);
}

.menu_icon_container .icon:hover {
  cursor: pointer;
  background-color: rgb(128, 163, 74);
  color: #b2d397;
}

/*              SECTION: PRODUCE_PROCESS                        */

.produce_process {
  max-width: 144rem;
  min-height: 60vh;
  margin: 4.5rem auto 0rem;
}

.produce_process .produce_process_title {
  padding: 3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: #63b93e;
  color: whitesmoke;
}

.line {
  display: flex;
  height: 28rem;
}

.line .heading {
  width: 30%;
  padding: 4rem;
  display: flex;
  align-items: flex-end;
}

.line .heading .heading_number {
  font-size: 12rem;
  font-weight: bold;
}

.line .heading .heading_define {
  font-size: 1.25rem;
  padding-bottom: 2.8rem;
  margin-left: 1.2rem;
  font-weight: 500;
}

.line .image_heading {
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.line .image_heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1;
}

/*                   SECTION: Product details */
.each_product_page {
  max-width: 144rem;
  min-height: 50rem;
  background-color: #f2e5ce;
  margin: 5rem auto 0rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.about_product {
  width: 78rem;
  min-height: 40rem;
  background-color: white;
  padding: 2rem 3.5rem;
  display: flex;
  justify-content: space-between;
}

.about_product .left_side {
  width: 55%;
  height: 40rem;
}

.top_left_side {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.top_left_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 2;
}

.bottom_left_side {
  width: 100%;
  display: grid;
  justify-content: space-between;
  height: 25%;
  gap: 1rem;
  padding: 1rem 0rem;
  grid-template-columns: repeat(4, 23%);
}

.bottom_left_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right_side {
  width: 40%;
}

.right_side .product_name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.right_side .product_price {
  font-size: 3.6rem;
  color: #2e8d4e;
}

.right_side .product_status {
  width: 23rem;
  padding: 1rem 0.5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  line-height: 1.9;
  margin: 2rem 0;
}

.right_side .product_amount {
  display: flex;
}

.right_side .count_product {
  display: flex;
  min-width: 10rem;
  height: 3rem;
}

.right_side .amount {
  margin-right: 2.6rem;
}

.right_side .number {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_side .decrease {
  padding: 0 0.5rem;
}

.right_side .increase {
  padding: 0 0.5rem;
}

.right_side .add_buy_button {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.right_side .add_to_card_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  font-size: 1.1rem;
  border: rgb(108, 150, 46) solid 0.1rem;
  background-color: rgb(228, 245, 207);
  color: rgb(93, 138, 26);
}

.right_side .buy_now {
  width: 40%;
  background-color: #168039;
  padding: 1rem;
  text-align: center;
}

.extend_product {
  width: 30rem;
  min-height: 40rem;
  overflow: hidden;
  padding: 1rem 4rem 1rem 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extend_product .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.item .item_image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.item .item_image img {
  width: 100%;
}

.item_description {
  font-size: 1.3rem;
  padding: 1rem 1.5rem 2rem;
  line-height: 1.5;
}

/*                   SECTION: TUONG LAN INTRODUCE                   */
.tuong_lan_introduce {
  max-width: 144rem;
  margin: 0 auto;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cenrjrdducmjwprodjnw.supabase.co/storage/v1/object/public/hihi/ruong_bac_thang1.png?t=2023-10-09T13%3A18%3A20.712Z");
  background-color: rgb(177, 210, 146);
  background-blend-mode: multiply;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tuong_lan_introduce img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.tuong_lan_introduce_container {
  width: 70rem;
  padding: 2rem 5rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  color: white;
}

/*                          SECTION: FOOTER                          */

.footer {
  max-width: 144rem;
  margin: 2rem auto 0rem;
  height: 59rem;
  padding: 3rem 5rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: column;
  color: white;
}

.footer::before {
  content: "";
  background-image: url("https://cenrjrdducmjwprodjnw.supabase.co/storage/v1/object/public/hihi/ruong_bac_thang.png?t=2023-10-09T13%3A18%3A06.832Z");
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: 0.2; */
  background-color: rgb(202, 200, 200);
  background-blend-mode: multiply;
}

.footer > img {
  width: 30rem;
  position: absolute;
  transform: rotate(180deg);
  transform: scaleX(-1);
  filter: FlipH;
  right: -5.4rem;
  top: 2.8rem;
}

.footer .title {
  font-weight: 500;
  font-size: 1.8rem;
  border-bottom: 0.15rem solid white;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  position: relative;
}

.footer_details {
  display: flex;
  width: 100%;
  position: relative;
}

.footer_item .footer_card {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer_item {
  padding: 1.9rem 0px 0px 0px;
  width: 33.3%;
}

.footer_item .footer_card i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.footer_details_middle {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.copy_right {
  width: 100%;
  padding: 2rem;
  font-size: 2.2rem;
  background-color: #6ad213;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}
